<p><h1>Comment#new</h1>
Find me in app/views/comment/new.html.erb</p>

<form accept-charset="UTF-8" action="/comments" method="post">
  <input type="text" name="comment[commenter_name]" value="Anny" />