<h1>Student Details</h1>
<br><br>
<h3>Student_Name:</h3><%= @students.stu_name %>
<h3>Student_surname:</h3><%= @students.stu_surname %>
<h3>Student_age:</h3><%= @students.stu_age %>

<a href ="/students"> Back</a>