<h1> this is my books</h1>

<h1>Details Books</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Isbn</th>
    </tr>
  </thead>

  <tbody>
    <% @book.each do |book| %>
      <tr>
        <td><%= book.price%></td>
        <td><%= book.isbn %></td>
        <td><%= link_to "Show", book %></td>
        <td><%= link_to "Edit", edit_book_path(book) %></td>
        <td><#%= link_to "Destroy", book, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<#%= link_to "New book", new_book_path %>
