<p><h1>Login#new</h1>
Find me in app/views/login/new.html.erb</p>

<form accept-charset="UTF-8" action="/logins" method="post">
  <input type="text" name="login[name]" value="Ammy" />
  <input type="text" name="login[password]" value="12345" />
</form>
